<template name="home_signup_section">
    <section class="hero-sec">
        <div class="container text-center">
            <article>
                <h1>A SMARTER WAY TO SETUP<br class="hidden-xs"> YOUR SUBSCRIPTION BILLING</h1>
                <p>We get SaaS billing. All the nuts & bolts you need to manage subscriptions, recurring billing, invoicing and much more, with one elegant API layer. Give it a spin.</p>
                <div class="mar-t-sm mar-b-xs hidden-xs hidden-sm">
                    <a class="btn btn-sec btn-primary btn-primary-sec btn-md btn-suffix">
                        <img src="https://d2jxbtsa1l6d79.cloudfront.net/assets/web/6.3.3/images/home/chargebee-icon-white.svg" alt="" style="width: 30px; margin-top: -4px; margin-right: 10px;">
                        SIGN UP FOR FREE
                    </a>
                </div>

                <!--Start Mobile-view Demo request -->
                <div class="mar-t-sm mar-b-xs visible-xs visible-sm">
                    <a data-mode="1" target="_blank" class="typeform-share  btn btn-sec btn-primary btn-primary-sec btn-md btn-suffix">
                        Fancy a demo?
                    </a>
                </div>
                <div class="visible-xs visible-sm"><a class="btn-flat">SIGN UP FOR FREE</a></div>
            </article>
        </div>
    </section>
</template>