<template name="home_header">
    <header class="header header-top header-sec">
        <div class="container-fluid">
            <div class="tbl-md">
                <div class="tbl-cell">
                    <a href="/" class="logo">
                        <img src="https://d2jxbtsa1l6d79.cloudfront.net/assets/web/6.3.3/images/chargebee-black.svg" alt="chargebee" width="100">
                    </a>
                    <nav class="nav-main">
                        <ul>
                            <li class="dropdown">
                                <span class="nav-more dropdown-toggle" data-toggle="dropdown">Features<span class="caret"></span></span>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="/subscriptions/">Subscriptions</a></li>
                                    <li><a href="/billing-invoicing/">Billing & Invoicing</a></li>
                                    <li><a href="/payments/">Payments</a></li>
                                </ul>
                            </li><!--
                             --><li><a href="/pricing/" class="nav-act">Pricing</a></li><!--
                             --><li><a href="/blog/">Blog</a></li><!--
                             --><li class="nav-icon dropdown">
                            <span class="nav-more dropdown-toggle"  data-toggle="dropdown">&middot;&middot;&middot;</span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="/developers/">Developers</a></li>
                                <li><a href="/docs/">Docs</a></li>
                                <li><a href="https://apidocs.chargebee.com" onclick="ga('send', 'event', 'website', 'click', 'api-docs');">API Docs</a></li>
                                <li><a href="/about/">About</a></li>
                                <li><a href="/faq/">FAQ</a></li>
                            </ul>
                        </li>
                        </ul>
                    </nav>
                </div>
                <div class="tbl-cell">
                    <nav class="nav-sub">
                        <ul>
                            <li>
                                <a href="tel:18772889080" style="color:#00BCB4;font-weight:300;">+1 (877) 288 9080</a>
                            </li><!--
                              --><li><a href="/help/">Help Center</a></li><!--
                             --><li><a href="/login" onclick="ga('send', 'event', 'website', 'click', 'app-sign-in');">Sign in</a></li><!--
                             --><li><a href="/trial-signup" class="btn btn-sm" onclick="ga('send', 'event', 'website', 'click', 'nav-signup');">Sign up</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <header class="header header-sec header-fixed">
        <div class="container-fluid">
            <div class="tbl-md">
                <div class="tbl-cell">
                    <a href="/" class="logo">
                        <img src="https://d2jxbtsa1l6d79.cloudfront.net/assets/web/6.3.3/images/chargebee-black.svg" alt="chargebee" width="100">
                    </a>
                    <nav class="nav-main">
                        <ul>
                            <li class="dropdown">
                                <span class="nav-more dropdown-toggle" data-toggle="dropdown">Features<span class="caret"></span></span>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="/subscriptions/">Subscriptions</a></li>
                                    <li><a href="/billing-invoicing/">Billing & Invoicing</a></li>
                                    <li><a href="/payments/">Payments</a></li>
                                </ul>
                            </li><!--
                             --><li><a href="/pricing/" class="nav-act">Pricing</a></li><!--
                             --><li><a href="/blog/">Blog</a></li><!--
                             --><li class="nav-icon dropdown">
                            <span class="nav-more dropdown-toggle"  data-toggle="dropdown">&middot;&middot;&middot;</span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="/developers/">Developers</a></li>
                                <li><a href="/docs/">Docs</a></li>
                                <li><a href="https://apidocs.chargebee.com" onclick="ga('send', 'event', 'website', 'click', 'api-docs');">API Docs</a></li>
                                <li><a href="/about/">About</a></li>
                                <li><a href="/faq/">FAQ</a></li>
                            </ul>
                        </li>
                        </ul>
                    </nav>
                </div>
                <div class="tbl-cell">
                    <nav class="nav-sub">
                        <ul>
                            <li>
                                <a href="tel:18772889080" style="color:#00BCB4;font-weight:300;">+1 (877) 288 9080</a>
                            </li><!--
                              --><li><a href="/help/">Help Center</a></li><!--
                             --><li><a href="/login" onclick="ga('send', 'event', 'website', 'click', 'app-sign-in');">Sign in</a></li><!--
                             --><li><a href="/trial-signup" class="btn btn-sm" onclick="ga('send', 'event', 'website', 'click', 'nav-signup');">Sign up</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <nav class="nav-mobile nav-mobile-sec">
        <div class="nav-icon-mobile">
            <div id="hamburger" class="hamburglar is-closed">
                <div class="burger-icon">
                    <div class="burger-container">
                        <span class="burger-bun-top"></span>
                        <span class="burger-filling"></span>
                        <span class="burger-bun-bot"></span>
                    </div>
                </div>
                <div class="burger-ring">
                </div>
                <div class="path-burger">
                    <div class="animate-path">
                        <div class="path-rotation"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-links-mobile">
            <div class="mobile-links">
                <a href="/subscriptions/">Features</a>
                <a href="/pricing/">Pricing</a>
                <a href="/help/">Help Center</a>
                <a href="/blog/">Blog</a>
                <a href="/careers/"><span>Careers</span></a>
                <a href="/about/"><span>About us</span></a>
                <a href="tel:+18772889080"><span>+1 (877) 288 9080</span></a>
                <a href="/faq/"><span>Faq</span></a>
            </div>
            <div class="mobile-signup">
                <a href="/trial-signup.html" class="btn btn-primary btn-block" onclick="ga('send', 'event', 'website', 'click', 'nav-mobile-signup');">Sign up for free</a>
            </div>
        </div>
    </nav>
</template>