<template name="home_articles">
    <section class="container">
        <!-- start content section -->
        <article class="blk-content clearfix">
            <div class="blk-media blk-media-subscription">
                <img src="https://d2jxbtsa1l6d79.cloudfront.net/assets/web/6.3.3/images/home/iceberg.svg" class="img-responsive visible-xs visible-sm">
                <div class="blk-media-txt blk-media-sm">
                    <h2>There’s more to subscriptions</h2>
                    <div class="mar-y-xs">Renewals and recurring charges just scratch the surface. Soon, you'd expect more from your subscriptions. Like running pricing experiments. Upselling with add-ons. And letting your team, not just the developers, manage subscriptions first-hand. We've built everything that you'd need to steer your way through the nuances of subscriptions.</div>
                    <a href="/subscriptions/" class="btn btn-sm btn-success btn-suffix-alt">EXPLORE SUBSCRIPTIONS</a>
                </div>
            </div>
            <div class="blk-subcontent blk-subcontent-sm text-center">
                <a href="/developers/"><img src="https://d2jxbtsa1l6d79.cloudfront.net/assets/web/6.3.3/images/home/icon-developertool.svg" class="img-responsive center-block"></a>

                <div class="blk-subcontent-text">
                    <div class="mar-t-sm mar-b-xs">Build with a language of your choice.</div>
                    <a href="/developers/" class="btn btn-sm btn-success btn-outline-success">Developer Center <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </article>
        <!-- End content section -->
        <!-- start content section -->
        <article class="blk-content clearfix">
            <div class="blk-media blk-media-invoice">
                <img src="https://d2jxbtsa1l6d79.cloudfront.net/assets/web/6.3.3/images/home/football.svg" class="img-responsive visible-xs visible-sm">
                <div class="blk-media-txt blk-media-lg">
                    <h2>Recurring Billing and Invoicing can be a pain in the SaaS</h2>
                    <div class="mar-y-xs">Building something which is more-than-just-good requires great effort. And that’s exactly why you should focus on your product and quit worrying about the nitty gritties of invoicing. Staying tax compliant. Smart retry logic to recover lost revenue or calculate proration. Sending customers beautiful and clear invoices. Anything that may come your way, we’ve got you covered!</div>
                    <a href="/billing-invoicing/" class="btn btn-sm btn-success btn-suffix-alt">EXPLORE BILLING & INVOICING</a>
                </div>
            </div>
            <div class="blk-subcontent text-center">
                <div class="payment-gateways">
                    <ul class="thumb-list">
                        <li>
                            <img src="https://d2jxbtsa1l6d79.cloudfront.net/assets/web/6.3.3/images/home/payment-gateways/paypal.svg" alt="" width="75">
                        </li>
                        <li>
                            <img src="https://d2jxbtsa1l6d79.cloudfront.net/assets/web/6.3.3/images/home/payment-gateways/eWay.svg" alt="" width="112" class="desaturate">
                        </li>
                        <li>
                            <img src="https://d2jxbtsa1l6d79.cloudfront.net/assets/web/6.3.3/images/home/payment-gateways/stripe.png" alt="" width="90">
                        </li>
                        <li>
                            <img src="https://d2jxbtsa1l6d79.cloudfront.net/assets/web/6.3.3/images/home/payment-gateways/braintree.svg" alt="" width="116">
                        </li>
                        <li>
                            <img src="https://d2jxbtsa1l6d79.cloudfront.net/assets/web/6.3.3/images/home/payment-gateways/worldpay.svg" alt="" width="142" class="desaturate">
                        </li>
                        <li>
                            <img src="https://d2jxbtsa1l6d79.cloudfront.net/assets/web/6.3.3/images/home/payment-gateways/amazon-payments.png" alt="" width="180" class="desaturate">
                        </li>
                    </ul>
                </div>

                <div class="blk-subcontent-text">
                    <div class="mar-t-sm mar-b-xs">Chargebee supports top gateways in 50+ countries, so you can scale your reach with ease.</div>
                    <a href="/payment-gateways/" class="btn btn-sm btn-success btn-outline-success">Payment Gateways <i class="fa fa-long-arrow-right"></i></a>
                </div>

            </div>
        </article>
        <!-- End content section -->
        <!-- start content section -->
        <article class="blk-content clearfix">
            <div class="blk-media blk-media-payment">
                <img src="https://d2jxbtsa1l6d79.cloudfront.net/assets/web/6.3.3/images/home/meditation.svg" class="img-responsive visible-xs visible-sm">
                <div class="blk-media-txt blk-media-md">
                    <h2>Make peace with payments</h2>
                    <div class="mar-y-xs">Options & Security. Two aspects of payments that help you deliver a stellar customer experience with complete peace of mind. We’re PCI level 1 compliant, which means customer information stays safe. Also, we complement most of the global gateways with one smart API, enabling multiple payment options - online, offline, and alternative.</div>
                    <a href="/payments/" class="btn btn-sm btn-success btn-suffix-alt">EXPLORE PAYMENTS</a>
                </div>
            </div>
        </article>
        <!-- End content section -->
    </section>
    <!-- End Main Body Content -->
</template>